@import url(./reset.css);

/* Layout Visualization Helpers */

body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    outline: 1px solid #ddd;
    background-color: rgb(68, 6, 65);
}

header,
main,
aside,
footer {
    outline: 1px solid #ccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Defaults */
h1 {
    font-size: 3.4em
    
}



#Draven2 {
    width: 80px;
    height: 80px;
}

#Draven3 {
    padding: 1em;
}

h2 {
    font-size: 2.1em
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0.5em 0;
    color: #c5bfbf;
}

a {
    color: #8a0712;
}

a:hover {
    color: #c5bfbf;
}


/* Header */
header {
    margin-bottom: 1em;
}

#main-header {
    display: flex;
}

#main-header div {
    padding: 1em;
    text-align: center;
}

#main-header img {
    width: 25%;
}

/* Header Nav */
header>nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #b12222;
    align-items: center;
}

header>nav>ul {
    display: flex;
    grid-column: 2;
    justify-self: center;
}

header>nav>ul>li>a {
    display: flex;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

header>nav>ul>li>a:hover {
    background-color: #3b0202;
}

/* Header H1 */
header>h1 {
    margin: 1em 0;
}

/* Main/Aside Layout */
.content {
    margin-bottom: 1em;
    display: flex;
}

main {
    width: 70%;
    order: 2;
}

main > h2 {
    color: #c5bfbf;
    text-align: center;
}

main >  p {
    text-align: center;
}

div > h1 {
    color: #c5bfbf;
}

div >h1 >p {
    align-items: center;
}

div > p {
    outline: 1px solid #c5bfbf;
}

div > p:hover {
    outline: 2px solid #8b8585;
    background-color: #1f021b;
    font-size: 1.3em;
}

aside {
    width: 30%;
    order: 1;
    padding: 0.5em;
}



aside > h2 {
    color: #c5bfbf;
    padding: 1em;
    text-align: center;
}

/* Footer */
footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer Nav */
footer>nav>ul {
    display: flex;
    gap: 1em;
}